@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Invoeren uren</title>
    <script src="js/site.js"></script>
</head>
<body>
<div id="editActivityModal" class="modal">
    <span class="close-edit">&times;</span>
    <div class="modal-content">
        <form class="EditActivityForm">
            <label>Taak</label>
            <input type="text" name="task"/>
            <label>Datum</label>
            <input type="date" name="date"/>
            <label>Starttijd</label>
            <input type="time" name="startTime"/>
            <label>Eindtijd</label>
            <input type="time" name="endTime"/>
            <input type="submit" name="Uren invoeren">
        </form>
    </div>
</div>
</body>
</html>